@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="headerUserWraper">
        <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span><span class="counter">5</span></a>
        <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
            <img class="avatar headerAvatar pull-left" src="/images/avatar-1.png" alt="avatar">
            <div class="userTop pull-left">
                <span class="headerUserName">Corretor</span> <span class="fa fa-angle-down"></span>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="dropdown-menu pull-right userMenu" role="menu">
            <div class="mobAvatar">
                <img class="avatar mobAvatarImg" src="/images/avatar-1.png" alt="avatar">
                <div class="mobAvatarName">Corretor</div>
            </div>
            <ul>
                <li><a href="/Admin/Manage/ChangePassword"><span class="icon-user"></span>Trocar Senha</a></li>
                <li class="divider"></li>
                <li><a href="/Admin/Home/SignOut"><span class="icon-power"></span>Sair</a></li>
            </ul>
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
