@{
    ViewBag.Title = "Sobre";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>

</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Visite <a href="http://www.varcalsys.com.br" target="_blank">www.varcalsys.com.br</a>  para conhecer mais assuntos de ASP.NET.</p>
    </div>
</div>