#container {
    background-color: #7794b7;
    padding-top: 3%;
    padding-left: 12%;
    width: 100%;
    height: 100%;
    color: #fff;
}


p a{
    color: #7794b7;
}

p a:hover {
        color: #000;
}



